#!Jinja2

[cylc]
    [[parameters]]
        m = 1..3
[scheduling]
    [[dependencies]]
        graph = """
            # Run all ensemble members.
            start => ensemble<m>

            # If any ensemble member fails then remove it from the graphing.
            ensemble<m>:fail => ! ensemble<m>

            # Run the recover task once all members have finished
            # (failed/succeeded) ...
            ensemble<m>:finish => recover

            # ... unless all of the ensemble members have succeeded, in which
            # case don't run the recover task at all.
            ensemble<m> => ! recover

            # The downstream tasks must trigger off of EITHER the success of
            # all ensemble members OR the success of the recover task.
            ensemble<m> | recover => end
        """
[runtime]
    [[root]]
        script = sleep 1
    [[start, end, recover]]
    [[ensemble<m>]]
        script = sleep 3
    [[ensemble<m=2>]]
        script = false
