[scheduling]
    [[dependencies]]
        graph = """
            foo => archive
        """
[runtime]
    [[foo]]
        # Create four text files in the task's work directory (work/1/foo/).
        script = """
            echo 'foo foo foo foo' > foo.txt
            echo 'bar bar bar bar' > bar.txt
            echo 'baz baz baz baz' > baz.txt
            echo 'pub pub pub pub' > pub.txt
        """
        # Archive the four files into a single zip file in the share dir
        # (share/data/1/)
    [[archive]]
        script = rose task-run
